<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-searchbar placeholder="Search pokemon" debounce="500"></ion-searchbar>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="poke.image" style="background:#f2f2f2;"/>
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{poke.name}}</h2>
          <p>#{{poke.pokeIndex}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
<ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more pokemon...">
      </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
</ion-content>
