<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let poke of pokemon;" [routerLink]="poke.pokeIndex">
        <ion-avatar slot="start">
          <img [src]="poke.image" style="background:#f2f2f2;" *ngIf="poke.image != 'null'">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{poke.name}}</h2>
          <h6>#{{poke.pokeIndex}}</h6>                                                                           
        </ion-label>
      </ion-item>
    </ion-list>
    
    <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more pokemon...">
      </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
