.ion-text-center{
  margin:20px;
}
.poke-content {
  margin: 0px auto;
  padding:0;
  width: 100%;
  height: 100%;
  display: flex; /* Magic begins */
  flex-direction: column;
  justify-content: center; /* Center in main axis */
  align-items: center; /* Center in cross axis */
}
ion-label{
  color:#ffcb05;
}